.new-tweet {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

textarea {
  width: 1000px;
}

.new-tweet-area {
  border : none;
  background: transparent;
}

.new-tweet:hover {
  box-shadow: 10px 5px 5px red;
  /* background-color: rgb(237, 101, 16); */
}

.icon {
  color:rgb(12, 233, 207)
}

.icon:hover {
  color: chartreuse;
}

article.tweet header{
  display: flex;
  height: 100px;
  width: 1000px;
  background-color: #f4f1ec;
  background-image: none;
  text-align: left;
}

article.tweet footer {
  text-align:left;
}